#page-basket {
    background: #ecf1f4;

    .page-main-content {
        padding-bottom: 25px;
    }
}

.clear-basket {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    font-size: 10px;
    color: #c3c3c3;
    cursor: pointer;
    transition: .5s;

    @media (min-width: map_get($grid-breakpoints, sm)) {
        top: 15px;
        font-size: 12px;
    }

    svg {
        margin-left: 10px;
        fill: #c3c3c3;
        transition: .5s;
    }

    &:hover {
        color: #878C8E;

        svg {
            fill: #878C8E;
        }
    }

}

.basket-content {
    position: relative;
    background: #f8f8f8;
}

.basket-item {
    position: relative;
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    @media (min-width: map_get($grid-breakpoints, sm)) {
        flex-direction: row;
        padding: 1px 30px;
    }


    @media (min-width: map_get($grid-breakpoints, lg)) {
        padding: 1px 50px;
    }


    .delete-basket-item {
        position: absolute;
        top: 10px;
        right: 15px;
        display: flex;
        font-size: 12px;
        color: #c3c3c3;
        transition: .5s;
        cursor: pointer;

        @media (min-width: map_get($grid-breakpoints, sm)) {
            top: 15px;
        }

        .icon {
            position: relative;
            width: 15px;
            height: 15px;
            margin-left: 10px;

            .line {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 1px;
                background: #c3c3c3;
                transition: .5s;

                &--left {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }

                &--right {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }

        &:hover {
            color: #878C8E;

            .icon {

                .line {
                    background: #878C8E;
                }
            }
        }
    }

    .img {
        margin-right: 15px;
        width: 60px;
        height: 70px;
        @extend %img;

        @media (min-width: map_get($grid-breakpoints, sm)) {
            width: 180px;
            height: 190px;
        }
    }

    .product-code {
        font-size: 12px;
        color: $light;
        text-transform: uppercase;

        .code {
            color: $body-color;
        }
    }

    .price {
        font-size: 24px;
        font-weight: bold;

        .currency {
            margin-left: 5px;
            font-size: 12px;
            font-weight: bold;
            color: $light;
        }
    }


    &-cell {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @media (min-width: map_get($grid-breakpoints, sm)) {
            margin-bottom: 0;
        }
    }
}

.basket-total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    @media (min-width: map_get($grid-breakpoints, sm)) {
        flex-direction: row;
    }

    &-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        @media (min-width: map_get($grid-breakpoints, sm)) {
            margin-bottom: 0;
        }
    }

    &__title {
        margin-top: 5px;
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
    }

    &__price {
        margin-right: 20px;
        line-height: 1;
        color: $primary;
        font-size: 24px;
        font-weight: bold;

        .currency {
            font-size: 12px;
            font-weight: bold;
        }
    }
}