#page-product {
  background: #ecf1f4;

  .page-main-content {
    padding: 0;
  }
}

.page-product-item {
  position: relative;

  .open-all {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 15px 0;
    cursor: pointer;
    color: $primary;
    user-select: none;
    transition: .5s;

    &.active {
      color: $light;
    }
  }

  &-prev {
    border: 1px solid #f8f8f8;

    .flickity-page-dots {
      bottom: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        bottom: 30px;
      }

      li {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $light;
        transition: .3s;

        &.is-selected {
          width: 8px;
          height: 8px;
          background: $primary;
        }
      }
    }

    &-image {
      width: 100%;
      height: 270px;
      @extend %img;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        height: 570px;
      }
    }
  }

  &-secondary-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background: #f8f8f8;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      flex-direction: row;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
      padding: 45px;
    }

    .secondary-info-item {
      width: 100%;
      margin-bottom: 20px;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        width: 48%;
        margin-bottom: 0;
      }

      .title {
        margin: 15px 0;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
      }

      ul {

        li {
          position: relative;
          font-size: 14px;
          color: $light;

          &::before {
            content: '-';
            margin-right: 4px;
          }
        }
      }
    }
  }

  &--padding {
    padding: 25px 15px 35px 15px;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      padding: 25px 30px 30px 30px;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
      padding: 25px 25px 60px 0;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      padding: 25px 50px 60px 25px;
    }
  }

  &-header {
    margin-bottom: 10px;

    .product-code {
      margin-bottom: 10px;
      font-size: 12px;
      text-transform: uppercase;
      color: $light;

      .code {
        color: $body-color;
      }
    }

    .title {
      margin-bottom: 15px;
    }

    .availability {
      text-transform: uppercase;
      color: $secondary;
      font-size: 12px;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      flex-direction: row;
    }

    .cell {
      width: 100%;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        width: 30%;
      }

      &--padding-right {

        @media (min-width: map_get($grid-breakpoints, sm)) {
          width: 70%;
          padding-right: 30px;
        }
      }
    }

    .description {
      width: 100%;
      font-size: 14px;
    }

    .specifications {
      position: relative;
      transition: .5s;
      max-height: 120px;
      overflow: hidden;

      &.active {
        max-height: 100%;

        &::before {
          bottom: -150px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        @extend %pos;
        top: auto;
        height: 30px;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, .5) 0%, rgb(255, 255, 255) 100%);
      }

      &-table {
        font-size: 14px;
        margin-bottom: 0;

        td {
          padding: 10px 0;
        }

        .name {
          color: $light;
        }

        .info {
          text-align: right;
          color: $secondary;
        }
      }
    }

    .price {
      margin-bottom: 10px;
      font-weight: bold;

      &__value {
        font-size: 20px;
      }

      &__currency {
        color: $light;
        font-size: 12px;
      }
    }

    .buy {
      margin-top: 30px;
      font-size: 12px;
      text-transform: uppercase;

      &-basket {
        margin-left: auto;
        position: relative;
        bottom: -20px;
        background: $primary;
        width: 80%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;

        @media (min-width: map_get($grid-breakpoints, sm)) {
          width: 120px;
        }

        &-icon {
          position: relative;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #fff;
          margin-bottom: 10px;
          box-shadow: 0px 12px 14px 4px rgba(0, 0, 0, 0.2);

          .line {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 15px;
            height: 1px;
            background: $primary;

            &--top {
              transform: translate(-50%, -50%);
            }

            &--bottom {
              transform: translate(-50%, -50%) rotate(90deg);
            }
          }
        }
      }

      &-order {
        display: block;
        width: 100%;
        padding: 40px 20px 10px;
        background: $secondary;
        text-align: center;
        color: #fff;
      }
    }
  }

  &-footer {
    margin-top: 25px;

    &-row {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }

    .reviews-slider {
      margin-bottom: 30px;

      &-item {
        width: 100%;

        &-header {
          padding-left: 25px;
          margin-bottom: 5px;

          .name {
            font-size: 12px;
            text-transform: uppercase;
            color: $secondary;
          }
        }

        &-body {
          padding: 20px 25px;
          background: #f8f8f8;

          p {
            font-size: 14px;
            margin-bottom: 10px;
          }

          .data {
            font-size: 12px;
            color: $light;
          }
        }
      }
    }

    .send-reviews {
      display: none;
    }
  }
}