@import "config/variables";
@import "config/placeholders";

@import "~bootstrap/scss/bootstrap";

@import "base/body";
@import "base/btn";
@import "base/layout";

@import "modules/menu";
@import "modules/modal";
@import "modules/input-range";
@import "modules/forms";

@import "layout/header";
@import "layout/intro";
@import "layout/catalog";
@import "layout/new-articles";
@import "layout/contacts";
@import "layout/footer";

@import "layout/interested";

@import "page/page-about";
@import "page/page-basket";
@import "page/page-singup";
@import "page/page-login";
@import "page/page-order";
@import "page/page-article";
