#catalog {
    padding: 100px 0;
    background: #ecf1f4;
}

.catalog-main-filter {
    position: relative;
    padding: 35px 15px;
    background: #fff;
    z-index: 5;

    @media (min-width: map_get($grid-breakpoints, lg)) {
        padding: 35px 40px;
    }

    &-item {
        margin-bottom: 30px;

        @media (min-width: map_get($grid-breakpoints, lg)) {
            margin-bottom: 0;
        }

        .title {
            margin-bottom: 20px;
            color: $light;
            font-size: 12px;
            text-transform: uppercase;

            &__currency {
                text-transform: none;
            }
        }

        .catalog-filter-reason {
            margin-right: 10px;
            padding: 0 5px;
            font-size: 14px;
            border-radius: 10px;
            font-family: $headings-font-family;

            @media (min-width: map_get($grid-breakpoints, lg)) {
                margin-right: 15px;
                padding: 0 7px;
                font-size: $font-size-base;
            }

            &--white {
                border: 1px solid $light;
                background: #fff;
                color: $light;
            }

            &--blue {
                color: #fff;
                background: #223a62;
                border: 1px solid #223a62;
            }
        }

        &--manufacturer {
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            padding: 10px;

            .title {
                font-size: 10px;
                margin-bottom: 5px;
            }

            .custom-select {
                padding-left: 0;
                background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjg0LjkyOXB4IiBoZWlnaHQ9IjI4NC45MjlweCIgdmlld0JveD0iMCAwIDI4NC45MjkgMjg0LjkyOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjg0LjkyOSAyODQuOTI5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTI4Mi4wODIsNzYuNTExbC0xNC4yNzQtMTQuMjczYy0xLjkwMi0xLjkwNi00LjA5My0yLjg1Ni02LjU3LTIuODU2Yy0yLjQ3MSwwLTQuNjYxLDAuOTUtNi41NjMsMi44NTZMMTQyLjQ2NiwxNzQuNDQxTDMwLjI2Miw2Mi4yNDFjLTEuOTAzLTEuOTA2LTQuMDkzLTIuODU2LTYuNTY3LTIuODU2Yy0yLjQ3NSwwLTQuNjY1LDAuOTUtNi41NjcsMi44NTZMMi44NTYsNzYuNTE1QzAuOTUsNzguNDE3LDAsODAuNjA3LDAsODMuMDgyYzAsMi40NzMsMC45NTMsNC42NjMsMi44NTYsNi41NjVsMTMzLjA0MywxMzMuMDQ2YzEuOTAyLDEuOTAzLDQuMDkzLDIuODU0LDYuNTY3LDIuODU0czQuNjYxLTAuOTUxLDYuNTYyLTIuODU0TDI4Mi4wODIsODkuNjQ3YzEuOTAyLTEuOTAzLDIuODQ3LTQuMDkzLDIuODQ3LTYuNTY1QzI4NC45MjksODAuNjA3LDI4My45ODQsNzguNDE3LDI4Mi4wODIsNzYuNTExeiIvPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48L3N2Zz4=) no-repeat right .5rem top;
                background-size: 10px 8px;
            }
        }
    }
}

.catalog-secondary-filter {
    position: relative;
    padding: 20px 15px;
    background: #f9f9f9;
    z-index: 4;

    @media (min-width: map_get($grid-breakpoints, lg)) {
        padding: 35px 40px;
    }

    .custom-shadow {
        position: absolute;
        margin-top: -85px;
        width: 90%;
        height: 50px;
        background: #000;
        border-radius: 50%;
        box-shadow: 0px 0px 22.1px 4.9px rgba(0, 0, 0, 0.2);
        z-index: -20;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        @media (min-width: map_get($grid-breakpoints, sm)) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &-item {
        margin-bottom: 15px;

        @media (min-width: map_get($grid-breakpoints, sm)) {
            margin-bottom: 0;
        }

        .custom-select {
            padding-left: 0;
            padding-bottom: 2px;
            background: transparent url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjg0LjkyOXB4IiBoZWlnaHQ9IjI4NC45MjlweCIgdmlld0JveD0iMCAwIDI4NC45MjkgMjg0LjkyOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjg0LjkyOSAyODQuOTI5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PHBhdGggZD0iTTI4Mi4wODIsNzYuNTExbC0xNC4yNzQtMTQuMjczYy0xLjkwMi0xLjkwNi00LjA5My0yLjg1Ni02LjU3LTIuODU2Yy0yLjQ3MSwwLTQuNjYxLDAuOTUtNi41NjMsMi44NTZMMTQyLjQ2NiwxNzQuNDQxTDMwLjI2Miw2Mi4yNDFjLTEuOTAzLTEuOTA2LTQuMDkzLTIuODU2LTYuNTY3LTIuODU2Yy0yLjQ3NSwwLTQuNjY1LDAuOTUtNi41NjcsMi44NTZMMi44NTYsNzYuNTE1QzAuOTUsNzguNDE3LDAsODAuNjA3LDAsODMuMDgyYzAsMi40NzMsMC45NTMsNC42NjMsMi44NTYsNi41NjVsMTMzLjA0MywxMzMuMDQ2YzEuOTAyLDEuOTAzLDQuMDkzLDIuODU0LDYuNTY3LDIuODU0czQuNjYxLTAuOTUxLDYuNTYyLTIuODU0TDI4Mi4wODIsODkuNjQ3YzEuOTAyLTEuOTAzLDIuODQ3LTQuMDkzLDIuODQ3LTYuNTY1QzI4NC45MjksODAuNjA3LDI4My45ODQsNzguNDE3LDI4Mi4wODIsNzYuNTExeiIvPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48L3N2Zz4=) no-repeat right .5rem center;
            background-size: 10px 8px;
            font-size: 12px;
            color: $light;
            text-transform: uppercase;
            border-bottom: 1px solid $light;

            option {
                background: #f9f9f9;
            }
        }

        .btn-catalog-filter-reset {
            font-size: 12px;
            color: $light;
            text-transform: uppercase;
            border-bottom: 1px solid $light;
        }
    }
}

.catalog-list {
    margin-top: 30px;
}

.catalog-card {
    position: relative;
    margin: 0 auto;
    max-width: 255px;
    height: 100%;
    background: #fff;
    transition: .5s;
    overflow: hidden;

    .catalog-card-basket {
        position: absolute;
        top: -17px;
        left: 50%;
        transform: translateX(-50%) scale(0);
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: $primary;
        z-index: 20;
        transition: .5s;
    }

    .type {
        position: absolute;
        top: 15px;
        right: 0;
        z-index: 5;

        &-item {
            margin-bottom: 10px;
            padding: 4px 10px;
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            pointer-events: none;

            &--hit {
                background: #39b54a;
            }

            &--discount {
                background: #2e3192;
            }

            &--new {
                background: #00bff3;
            }
        }
    }

    .custom-shadow {
        position: absolute;
        left: 50%;
        top: 165px;
        transform: translateX(-50%);
        width: 215px;
        height: 100px;
        border-radius: 50%;
        background: #d7d7d7;
        box-shadow: 0px 0px 22.14px 4.8px rgba(0, 0, 0, 0.15);
        z-index: 3;
    }

    &-header {
        position: relative;
        width: 100%;
        height: 265px;
        z-index: 5;
        overflow: hidden;

        .img {
            @extend %pos;
            @extend %img;
            z-index: 4;
            transition: .5s;
        }
    }

    &-body {
        position: relative;
        padding: 35px 15px;
        transition: .5s;

        .content {
            margin: 0 auto;
            max-width: 160px;
            text-align: center;
        }

        .price {
            position: relative;
            padding-top: 35px;
        }
    }

    .old-price {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: bold;
        color: #bfbfbf;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: -5px;
            right: -5px;
            transform: translateY(-50%);
            height: 1px;
            background: $primary;
        }
    }

    .new-price {
        font-weight: bold;
        font-size: 24px;
    }

    .currency {
        font-size: 12px;
        font-weight: bold;
        color: $light;
    }

    &--set {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: map_get($grid-breakpoints, sm)) {
            flex-direction: row;
            margin-left: auto;
            margin-right: 0;
        }

        @media (min-width: map_get($grid-breakpoints, sm)) {
            max-width: 690px;
        }

        @media (min-width: map_get($grid-breakpoints, xl)) {
            max-width: 825px;
        }

        .catalog-card-set-prev {
            overflow: hidden;

            .img {
                width: 100%;
                height: 265px;
                @extend %img;
                transition: .5s;

                @media (min-width: map_get($grid-breakpoints, sm)) {
                    width: 240px;
                    height: 100%;
                }
            }
        }

        .catalog-card-set-main {
            padding: 20px 15px;
            position: relative;

            @media (min-width: map_get($grid-breakpoints, sm)) {
                padding: 40px 15px;

                .catalog-card-basket {
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%) scale(0);
                }
            }

            .sub-title {
                font-size: 12px;
                font-weight: bold;
                color: $light;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            .title {
                margin-bottom: 10px;
            }

            .price {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 15px;
            }

            .old-price {
                position: relative;
                top: 0;
                left: 0;
                transform: none;
                margin-right: 20px;
            }
        }

        .description-list {

            li {
                margin-bottom: 5px;
                font-size: 12px;
                color: $light;
            }
        }
    }

    &:hover {
        background-color: #f9f9f9;

        .catalog-card-basket {
            transform: translateX(-50%) scale(1);
        }

        .img {
            transform: scale(1.2);
        }
    }
}