#app-header {
  position: relative;
  background: #fff;
  overflow: hidden;
  z-index: 300;

  &.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .logo {
    display: block;
    text-align: center;
    color: $primary;
    font-weight: bold;
    font-size: 20px;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      font-size: 24px;
    }

  }
}

.header-main {
  display: flex;
  justify-content: flex-end;
}

.header-item {
  width: auto;

  &-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    padding: 15px 0;

    &--top {
      padding: 0;
      border-bottom: 1px solid #ebebeb;
    }
  }

  &--full-width {
    width: 100%;
  }
}

.header-change {
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #e1e1e1;
  }

  &-list {
    position: relative;
    padding: 15px 5px;

    li {
      position: relative;
      color: $light;
      font-size: 14px;
      cursor: pointer;

      .hidden-change-list {
        position: absolute;
        right: 0;
        top: 25px;
        z-index: 60;
        box-shadow: 0px 0px 22px 0px rgba(51, 51, 51, .3);
        display: none;

        li {

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 30px;
            background: #fff;
            color: $light;
            font-size: 14px;

            &:hover {
              color: $body-color;
              background: #f8f8f9;
            }
          }
        }
      }
    }

    &--currency {
      margin-right: 60px;
    }
  }
}

.header-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-list {
  display: flex;
  align-items: center;

  li {

    .header-nav-burger {
      @extend .burger-menu;
      position: absolute;
      top: 50%;
      left: -30px;
      transform: translateY(-50%);
      display: flex;
      margin-left: 0;
      width: 17px;
      height: 11px;
      margin-right: 10px;
      z-index: 2;

      .line {
        width: 20px;
        height: 1px;
        background: $body-color;
        transition: .5s;
      }
    }

    position: relative;
    margin: 0 30px;

    a {
      font-size: 18px;
      color: $body-color;
      font-family: $headings-font-family;

      &:hover {
        color: $primary;

        .header-nav-burger {

          .line {
            background: $primary;
          }
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: -30px;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #e1e1e1;
    }
  }
}

.header-nav-search {

  .form-search-item {

    .label-search {
      position: relative;
      margin-top: 7px;
      margin-left: 30px;
      z-index: 22;
      cursor: pointer;
    }

    .form-control-search {
      @extend %pos;
      width: 0;
      padding: 0;
      z-index: 20;
      background: #fff;
      transition: .5s;

      &.active {
        width: 95%;
      }
    }
  }
}

.header-login {

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: $light;

    svg {
      margin-right: 10px;
    }

    &:hover {
      color: $light;
    }
  }
}

.header-basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  max-width: 120px;
  padding: 15px 25px;
  background: $primary;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    padding: 15px 35px;
  }

  &-icon {
    display: flex;
    justify-content: center;
    position: relative;
    width: auto;
    color: #fff;

    &__quantity {
      position: absolute;
      top: -12px;
      right: 4px;
      font-size: 10px;
    }
  }

  &-price {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 7px;
    font-size: 10px;
    color: #fff;

    &__value {
      font-size: 14px;
      font-weight: bold;
      line-height: 1.4;
    }
  }
}